<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dem Rooms</title>
</head>
<body>
    <h1>Available Rooms</h1>
    <a href="#"><%= roomData[0] %></a>
    <ul>
        <% roomData.forEach(r => { %>
            <li>
                <a href="#"><%= r %></a>
            </li>
        <% }); %>
    </ul>
</body>
</html>