/* HOME PAGE */
button.start-game {
  padding: 1rem 10px;
  font-size: 16pt;
  background: #42fff6;
  margin-top: 8px;
}

h1.intro {
  font-size: 34pt;
  letter-spacing: 2px;
}

/* TRIVIA PAGE */
#posi-choices {
  display: grid;
  grid-template-columns: 1fr;
}

.t-f {
  display: grid;
  grid-template-columns: 1fr;
}

label {
  font-size: 16pt!important;
  padding: 1rem;
}

/* GENERAL STYLINGS */
body {
	background: #f1f1f1;
  margin: 0;
}
.text-left { text-align: left!important; }
.text-center { text-align: center!important; }

.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border-radius: 10px;
  background: #fff;
}


.btn-common {
  border: none;
  cursor: pointer;
  padding: 1rem 10px;
  background: #42fff6;
  border-radius: 5px;
}

/* Vertical align with grid display */
.grid-layout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100vh;
}

.inner {
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
  padding: 3rem 1rem;
}

.quiz-footer {
  margin: 0 1rem;
  margin-bottom: 1rem;
}

/* RESULTS VIEWS */
.correct {
  background: green;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

.incorrect {
  background: red;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

@media (max-width: 400px) {
   .middle {
    padding: 0 10px;
   }
  .inner {
    width: 90%!important;
  }
  .display-flex.r-cols {
    display: block;
  }
  .quiz-footer {
    margin: 0px .2em;
    margin-bottom: 1rem;
  }
}
